.timeline {
    background-color: #00151A;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    padding: 100px;
    margin: 0 auto;
    display: table;
}

.left_wrapper {
    color: white;
    width: 52%;
    float: left;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.right_wrapper {
    width: 46%;
    float: right;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.left_text {
    width: 200px;
    float: left;
    position: relative;
    padding: 15px 0 15px 40px;
}

.left_text:after {
    content: "";
    position: absolute;
    background: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -5px;
    top: -12px;
    border: 1px solid #66E2FF;
}

.left_text:before {
    content: "";
    position: absolute;
    background: transparent;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -5px;
    bottom: -12px;
    border: 1px solid #66E2FF;
}

.left_wrapper:after {
    content: "";
    position: absolute;
    background: #66E2FF;
    width: calc(100% - 100px);
    height: 2px;
    left: 10px;
    top: 0;
}

.left_wrapper:before {
    content: "";
    position: absolute;
    background: #66E2FF;
    width: calc(100% - 100px);
    height: 2px;
    left: 10px;
    bottom: 3px;
}

.imgage_hexa img {
    width: 100%;
    height: auto;
}

.imgage_hexa {
    width: 180px;
    float: right;
}

.reverse .left_wrapper {
    order: 1;
}

.reverse .left_wrapper .left_text {
    order: 2;
    padding: 15px 40px 15px 0;
}

.reverse .left_wrapper:after {
    right: 10px;
    bottom: -12px;
    left: unset;
}

.reverse .left_wrapper:before {
    right: 10px;
    bottom: 0;
    left: unset;
}

.reverse .left_text:after {
    right: -5px;
    left: unset;
}

.reverse .left_text:before {
    right: -5px;
    left: unset;
}